#!/usr/bin/env bash

watch_file devshell.toml

# Ensure that use_flake function is available
if ! declare -F use_flake &>/dev/null; then
  echo "ERROR: The 'use_flake' function is not available."
  echo "Please update your 'direnv' to version 2.30.0 or later."
  exit 1
fi

# Activate the Nix Flake environment
use flake
